<!doctype html>


<!--<form method="post" action="/weather">
  <label for="longtitude">Enter your longtitude:</label>
  <input type="longtitude" name="longtitude" /><br />
  <label for="latitude">Enter your latitude:</label>
  <input type="latitude" name="latitude" /><br />
  <input type="submit" />
</form>

<br><br><br>

-->


<h1>Input city name or press submit to use current location</h1>


<body>

  <form method="post" action="/weather">
    <label for="longtitude">Enter your City:</label>
    <input type="city" name="city" /><br />
    <input type="submit" />
  </form>

  <body>

    <form method="post" action="/newsletter">
      <label for="email">Enter your email to subscribe to our newsletter!</label>
      <input type="email" name="email" /><br />
      <input type="submit" />
    </form>


</body>



<br><br><br>





