<!doctype html>


<form method="post" action="/weather">
  <label for="longtitude">Enter your longtitude:</label>
  <input type="longtitude" name="longtitude" /><br />
  <label for="latitude">Enter your latitude:</label>
  <input type="latitude" name="latitude" /><br />
  <input type="submit" />
</form>

<br><br><br>

<form method="post" action="/weather">
  <label for="longtitude">Enter your City:</label>
  <input type="city" name="city" /><br />
  <input type="submit" />
</form>

<br><br><br>



<a href=”/getCurrLoc”><input type=”button” value=”Get Current Location”></a> 



